body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background: #333333;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow:hidden;
}
/* Portrait layout (default) */
.app {
	height:100%;
	width:90%;
	margin:5%;
	color:#fefefe;
}
.app h1,.app h2,.app h3,.app h4,.app h5,.app h6{
	font-weight:bold;
}
.app p,.app h1,.app h2,.app h3,.app h4,.app h5,.app h6{
	color:#fefefe;
}
.app p{
	font-size:1em;
}
h1 {
    font-size:2.8em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	color:#FEFEFE;
}
.pageTitle{
	font-size:2.1em;
	margin-top:-5%;
	text-align:center;
}
.expenceTitle{
	color:#2a9ec9;
	font-weight:bold;
}
.header{
	height:10%;
	width:100%;
	margin-top:-5.5%;
	margin-left:-5.5%;
	padding:5%;
	padding-top:5.5%;
	padding-left:6%;
	border-bottom:1px solid #000;
	background:#222;
	background: -webkit-linear-gradient(#111, #222);
	background: -moz-linear-gradient(#111, #222);
	background: linear-gradient(#111, #222);
}
a{
	text-decoration:none;
}
.button{
	background-color: #fff;
	background: -webkit-linear-gradient(#efefef, #fefefe);
	background: -moz-linear-gradient(#efefef, #fefefe);
	background: linear-gradient(#efefef, #fefefe);
	border-radius:8px;
	margin:auto;
	text-align:center;
	text-decoration:none;
	border:#ccc solid 1px;
}
.button p{
	color:#444;
	text-align:center;
	text-decoration:none;
	font-size:24px;
	padding:15px 0;
	margin:0;
}
.button:hover,.button:active{
	background-color: #e6e6e6;
	border-color: #adadad;
	color:#efefef;
}
.footer{
	color:#fefefe;
	padding:10px;
	position:absolute;
	bottom:0;
	font-size:16px;
	text-align:center;
	margin:auto;
}
.jaydenName{
	color:#2a9ec9;
	text-shadow:0 0 1px #fefefe;
}
form{
	width:93%;
}
label{
	color:#fefefe;
	font-size:1.6em;
	line-height:23px;
	padding-top:20px;
	padding-bottom:20px;
}
input,textarea{
	padding:10px;
	border:1px solid #333;
	border-radius:6px;
	width:100%;
}
.back{
	/*
	margin-left:-20px;
	margin-right:10px;
	margin-top:-10px;
	*/
	position:absolute;
	top:20px;
	left:15px;
	color:#fefefe;
	font-size:20px;
	padding:10px;
	background: #428bca;
	border-color: #357ebd;
}
.back:hover,.back:active{
	background: #3071a9;
	border-color: #285e8e;
}
.headerBack{
	padding-left:65px;
}
.submit{
	padding:10px;
	color:#fefefe;
	font-size:23px;
	background: #428bca;
	border-color: #357ebd;
	width:108%;
}
.submit:hover,.submit:active{
	background: #3071a9;
	border-color: #285e8e;
}
.imgbutton{
	width:100px;
	height:100px;
	background:#eee url('../img/image.png') center center no-repeat;
	border:1px solid #fff;
	border-radius:10px;
	color:#333;
}
.imgbutton:hover,.imgbutton:active{
	border:1px solid #fefefe;
}
#list{
	height:435px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:scroll;
	margin:0;
	padding:0;
}
#list .listItem{
	border-bottom:3px solid #acacac;
}
#list .listItem h3{
	font-size:1.9em;
}
#list .listItem p{
	font-size:1.4em;
	margin-top:-5px;
}
#list .listItem .date{
	font-size:1.1em;
	font-style:italic;
	float:right;
	margin-top:-40px;
}
#list .listItem  .price{
	margin-top:-15px;
}
#list .listItem .listimg{
	float:left;
	border:2px solid #eee;
	border-radius:6px;
	margin-right:10px;
}
#list .listItem .buttons{
	margin-top:-10px;
	margin-bottom:10px;
}
#list .listItem .btn{
	background-color: #1e5799;
	background-color: #428bca;
	/*
	background: -webkit-linear-gradient(#2989d8, #1e5799);
	background: -moz-linear-gradient(#2989d8, #1e5799);
	background: linear-gradient(#2989d8, #1e5799);
	*/
	border-radius:8px;
	margin:auto;
	text-align:center;
	text-decoration:none;
	border:#ccc solid 1px;
	font-size:1.5em;
	padding:10px 15px;
	margin-right:5px;
	margin-bottom:5px;
	color:#fefefe;
	border:1px solid #111;
	width:100px;
}
#list .listItem .btn-warning{
	background-color: #a90329;
	/*
	background: -webkit-linear-gradient(#a90329, #6d0019);
	background: -moz-linear-gradient(#a90329, #6d0019);
	background: linear-gradient(#a90329, #6d0019);
	*/
}
#list .listItem .btn:hover,#list .listItem .btn:active{
	background-color: #2989d8;
	/*
	background: -webkit-linear-gradient(#1e5799, #2989d8);
	background: -moz-linear-gradient(#1e5799, #2989d8);
	background: linear-gradient(#1e5799, #2989d8);
	*/
}
#list .listItem .btn-warning:hover,#list .listItem .btn-warning:active{
	background-color: #6d0019;
	/*
	background: -webkit-linear-gradient(#6d0019, #a90329);
	background: -moz-linear-gradient(#6d0019, #a90329);
	background: linear-gradient(#6d0019, #a90329);
	*/
}
#list .loading h2{
	font-size:2.8em;
	text-align:center;
	margin:auto;
	margin-top:45%;
}
/* All iPhones Portrait */
@media screen and (min-width: 319px) and (max-width: 360px){
	h1{
		font-size:2em;
		margin:10px 0;
	}
	#list{
		height:310px;
	}
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	body{
		overflow:auto;
	}
    .app {
		height:100%;
    }
}
@media only screen and (min-device-width : 768px) {
    body{
        zoom: 125%;
    }   
}
@media only screen and (min-device-width : 1024px){ 
    body{
        zoom: 150%;
    }
}